@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto+Slab:400,700');

$primary-theme-color: #c4dcda;
$secondary-theme-color: #b4d0cd;
$bg-header-first-line: #85CBC7;
$bg-header-second-line: #7CE6DE;
$font-color: #50504c;
$title-line-height: 70px;
$nav-height: 40px;
$normal-font: 'Open Sans', sans-serif;
$title-font: 'Roboto Slab', serif;

.wrapper {
  max-width: 960px;
  width: 100%;
  margin: 0 auto;
}

* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;

  header {
    width: 100%; 
    display: flex;
    flex-flow: column;
    align-items: center;
    position: fixed;
    top: 0;
    background: white;
    z-index: 1;
    border-bottom: 1px solid #e6e6e6;

    &.scrolling {
      img.logo {
        width: 100px;
        margin: 15px 0;
      }

      nav {
        a {
          font-size: 11px;
          line-height: 30px;

          &:hover {
            line-height: 26px;
          }
        }
      } 
    }

    img.logo {
      margin: 20px 0;
      width: 152px;
      transition: all 0.3s ease;
    }

    nav {
      margin: 0 auto;
      display: flex;
      max-width: 1200px;
      width: 100%;
      flex-flow: row;
      justify-content: center;
      padding-bottom: 5px;
      
      a {
        float: left;
        margin: 0 20px;
        color: $font-color;
        font-family: $normal-font;
        font-size: 13px;
        line-height: $nav-height;
        letter-spacing: 0.2px;
        text-decoration: none;
        text-transform: uppercase;
        padding: 0 10px;
        transition: all 0.2s ease;

        &:hover {
          border-bottom: 4px solid #c4de35;
          line-height: 36px;
        }
      }
    }
  }

  section {
    padding: 20px 20px 100px 20px;
    background: whitesmoke;

    &#about-us, &#contact {
      padding-bottom: 20px;
    }

    &#contact {
      .wrapper .content {
        p {
          color: white;
        }
        
        a {
          color: white;
          text-decoration: none;
        }
      }
    }

    .wrapper {
      padding: 0 40px 40px 40px;
      margin-top: 120px;
      position: relative;
      left: 40px;

      .title {
        position: relative;
        top: -100px;
        left: -40px; 
        
        div {
          padding: 15px;
          font-size: 40px;
          color: $font-color;
          font-weight: 300;
          font-family: $title-font;
          display: inline-block;
        }

        .first-line {
          background: $bg-header-first-line;
        }

        .second-line {
          background: $bg-header-second-line;
          position: absolute;
          left: 80px;
          top: $title-line-height;
        }
      }

      .content {
        margin-top: 20px;
        max-width: 700px;
        
        .two-cols {
          -moz-column-count: 2;
          -moz-column-gap: 10px;
          -webkit-column-count: 2;
          -webkit-column-gap: 10px;
          column-count: 2;
          column-gap: 30px;
        }

        table {
          td {
            vertical-align: top;
            min-width: 20px;
          }
        }

        .products-slider {
          margin-top: 40px;
          transform: scale(1.3);
        }

        /*
        ul {
          display: flex;
          flex-flow: row wrap;

          li {
            list-style: none;
            width: 150px;
            height: 90px;
            box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.55);
            border-radius: 4px;
            display: flex;
            margin: 20px;
            overflow: hidden;
            cursor: pointer;

            &:hover {
              position: relative;
              box-shadow: none;

              img {
                filter: blur(0px);
              }

              p {
                text-shadow: 1px 1px 1px #fff;
                padding: 5px;
                color: black;
                padding: 10px 0 0 10px;
              }
            }

            img {
              opacity: 0.4;
              width: 150px;
              filter: blur(8px);
              transition: all 0.4s ease;
            }

            p {
              position: absolute;
              padding: 10px 0 0 10px;
              word-break: break-word;
              width: 140px;
            }
          }
        }
        */

        p {
          color: $font-color;
          font-size: 18px;
          font-family: $normal-font;
          margin-bottom: 20px;
        }
      }
    }

    &:nth-child(odd) {
      background: white;
    }

    &:first-of-type {
      margin-top: 134px;
    }

    &#contact {
      background: #333333;
    }
  }
}

@media screen and (max-width: 1200px) {
  body header {
    svg {
      display: block;
      position: absolute;
      cursor: pointer;
      transition: all 0.5s ease;

      path {
        fill: $font-color;
      }
 
      &.open {
        width: 25px;
        top: 39px;
        right: 18px;
      }
      
      &.close {
        width: 21px;
        top: 41px;
        right: 20px;
        display: none;
        opacity: 0;
      }
    }
  }
} 

@media screen and (max-width: 992px) {
  
}

@media screen and (max-width: 768px) {
  body header {
    nav {
      flex-flow: column;
      align-items: center;
    }
  }
}