body {
  margin: 0;
  font-family: sans-serif;

  header {
    height: 88px;
    background: #08364b;
  
    ul.nav-menu {
      margin: 0;
      float: right;

      li {
        float: left;
        margin-right: 60px;
        list-style-type: none;

        a {
          font-family: opensans-regular, sans-serif;
          font-size: 12px;
          font-weight: 600;
          font-style: normal;
          font-stretch: normal;
          line-height: 88px;
          letter-spacing: 0.2px;
          color: #00aeff;
          text-decoration: none;
          text-transform: uppercase;
        }
      }
    }
  }

  section {
    height: 100vh;
    padding: 20px;

    &:nth-child(odd) {
      background: grey;
    }
  }
}